<h1>Editing directory</h1>



<br>
<div class="container m-auto">
  <%= render "form", directory: @directory %>
  <br>
    <%= link_to "Show this directory", @directory %> |
    <%= link_to "Back to directories", directories_path %>
</div>
